body {
    padding: 0;
    margin: 0;
}

nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: ">";
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

p {
    color: black;
}

h1 {
    margin: 0;

}

.correction p {
    color: green;
    font-size: 15px;
}

.correction {
    margin: 40px;
    gap: 80px;
}

.titre {
    width: 100%;
    background-image: url("image/Genie_logiciel.jpg");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 20px;

}

.titre h1 {
    color: white;
}

.titre p {
    color: white;
}

.titre img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.objectif {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 80px;
}

.objectif div {
    width: 40%;
}

.cours div {
    width: 40%;
}

.cours {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 80px;
}

input {
    padding: 30px;
}

.exercice {
    width: 40%;
    margin: 40px;
    gap: 80px;
}

. @media screen and (max-width:500px) {
    p {
        color: blue;
    }

    test {}
}