<<<<<<< HEAD
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    color: skyblue;
}

header {
    background-color: skyblue;
    color: white;
    padding: 0 20px;
    height: 60px;
    display: flex; justify-content: space-between; align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
=======
.select {
    display: none
}

@media screen and (max-width:500px) {
    ul {
        display: none
    }

    .select {
        display: block;
    }

>>>>>>> 346470fecb5f29ed7e3cc586bbfe01f3e95d0d3a
}